body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 85px;
  color: rgb(83, 80, 80);
}
h2 {
  font-size: 55px;
  color: gray;
}
p {
  font-size: 25px;
  line-height: 1.5;
  color: grey;
}
span {
  color: orange;
}
.flexiable {
  display: flex;
  height: 800px;
  margin-bottom: 400px;
}
.half-width {
  width: 50%;
  margin-top: 4%;
}
.first-text {
  width: 43%;
  padding-top: 10%;
  padding-left: 7%;
}
.half-width img {
  width: 95%;
  padding-right: 5%;
  padding-top: 2%;
}

.ancor {
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-image: linear-gradient(45deg, orange, tomato);
  padding: 30px 60px;
  border-radius: 60px;
}
#order-food {
  margin-top: 80px;
}
.mid {
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
}
#second-img {
  width: 47%;
  height: 97%;
  padding-left: 8%;
  margin-left: 20%;
}
.mid-text {
  width: 30%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 15%;
}
#contact-me {
  margin-top: 180px;
}
#text-format {
  text-align: center;
  margin-top: -300px;
  width: 50%;
  padding-left: 25%;
}
