body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 65px;
  color: rgb(83, 80, 80);
}
h2 {
  font-size: 50px;
  color: gray;
}
h3 {
  font-size: 35px;
  font-weight: 700;
}
p {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 100;
}
footer {
  text-align: center;
  margin-top: 150px;
  padding: 15px 0 120px;
  background-color: black;
}
span {
  color: orange;
}

.flexiable {
  display: flex;
  height: 800px;
  margin-bottom: 400px;
}
.half-width {
  width: 50%;
  margin-top: 4%;
}
.half-width img {
  width: 95%;
  padding-right: 5%;
  padding-top: 2%;
}
.intro {
  width: 43%;
  padding-top: 10%;
  padding-left: 7%;
}
.ancor {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(45deg, orange, tomato);
  padding: 30px 60px;
  border-radius: 60px;
  box-shadow: 10px 10px 40px rgba(231, 133, 94, 0.4);
}
.second-section {
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
}
.introdction-area {
  width: 30%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 15%;
}
.last-section {
  width: 33%;
  margin: 4% 2%;
  border-radius: 35px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
  padding: 25px;
}
.last-section img {
  width: 100%;
}

.title-container {
  width: 33%;
  margin: 1% 0;
  padding: 2% 0;
  padding-left: 10%;
}
.font-area {
  font-size: 50px;
  font-weight: 700;
  color: black;
  margin-bottom: 0;
}
.sub-title {
  margin-top: 0;
}

#intro-color {
  color: gray;
}
#food-order {
  margin-top: 80px;
}
#second-img {
  width: 47%;
  height: 97%;
  padding-left: 8%;
  margin-left: 20%;
}
#contact-area {
  margin-top: 150px;
}
#recipie-area {
  text-align: center;
  margin-top: -300px;
  width: 50%;
  padding-left: 25%;
}
#items {
  margin: 0 5%;
}
#optional-area {
  height: 90%;
  width: 85%;
  margin: 0 auto;
  margin-top: 4%;
  box-shadow: 10px 10px 40px gainsboro;
  border-radius: 25px;
}
#footer-font {
  font-size: 40px;
}
#footer-font2 {
  font-size: 40px;
  color: gray;
}
#ending {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}
